@model PapaPizza.Models.Cart

@{
    ViewData["Title"] = "AddToCart";
}

<h2>AddToCart</h2>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
    </dl>
