@model PapaPizza.Models.CartItem

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Dish.Name</h4>
    <hr />
    
    <form asp-action="RemoveFromCart">
        <input type="hidden" asp-for="CartItemId" />
        <input type="submit" value="Delete" class="btn btn-default" /> 
        &nbsp;&nbsp;
        <a asp-action="CartIndex" class="btn btn-default">Back to List</a>
    </form>
</div>
